.title {
    color: green;
}
body{
     background-image: url("New years.png");
      background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
    font-size: 47px;
    color: blue;
   text-align: center
}
li{
    font-size: 30px;
     color: white
  
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}
p{
    font-size: 30px;
    color: purple;
    text-align: center
}
tr{
    font-size: 30px;
    color: red;
}
.title {
    color: green;
}
h3{
    font-size: 38px;
    color: pink;
    text-align: center
}
h2{
    font-size: 45px;
    color: green;
    text-align: center

}
